@media only screen  and (min-width:100px) and (max-width: 575px) {

    /* header_section */

    .nav1{
        display: none;
    }
    header{
        margin: 10px 16px;
        align-items: center;
    }
    .cart{
        font-size: 20px;
        color:#000000;
        font-weight: 500;
    }
    .nav_img{
        width: 60%;
    }

    /* banner_section */

    .banner_section{
        flex-direction: column;
        margin: 22px;
        
    }
    .banner_head h1{
        font-size: 24px;
       
        

    }
    .banner_head p{
        font-size: 14px;
    }

    .banner_img{
        order: 1;
    }
    .banner_head{
         order: 2;
         margin-top: 28px;
    }
       
    /* flower_section */

    .flowers{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 10px;
        margin-right: 10px;

    }
    

    /* flower_plant_section */

    .flower_plant_section{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-left: 20px;
        
    }
    .flower_plant_section_content h5{
        font-size: 30px;
    }
    .trusted_img{
        display: none;
    }
    .deal_section_images{
        display: flex;
        flex-direction: column;
    }
    .deals_img2{
        height: 200px;
        width: 95%;
        margin: auto;
    }
    .deals_img1{
        height: 200px;
        width: 95%;
        margin: auto;
    }
    .deals_img3{
        height: 200px;
        width: 95%;
        margin: auto;
    }

    /* join_section */

    .join_section h6{
        font-size: 20px;
    }
    .email{
        padding-right: 21px;
    }
    form{
        margin-left: 20px;
        margin-right: 20px;
    }
    .join_section{
        height: 275px;
       
    }
    .btn_1{
        padding-left:2px;
        padding-right: 2px;
        
    }
}

