@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* header_section */

header{
 max-width: 1440px;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #8987A1;
}
nav ul{
    display: flex;
    gap: 48px;
}
.cart{
        font-size: 20px;
        color:#000000;
        font-weight: 500;
    }


/* Banner_section */

main{
    max-width: 1440px;
    margin:auto;
}


.banner_head p{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
    font-size: 22px;
}
.banner_head h1{
    font-weight: bold;
    font-size: 68px;
}
.banner_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 282px;
    max-width: 100%;
}
.banner_img{
    flex-basis: 50%;
}
.banner_img img{
    width: 100%;
    height: auto;
}
.banner_head{
    flex-basis: 50%;
}


/* flower_section */
.flowe_section{
    max-width: 100%;
}
.flower_section_head{
    text-align: center;
    margin-top: 102px;
}
.flower_section_head h2{
    font-size: 50px;
    font-weight: bold;
}
.flower_section_head p{
    color: rgba(0, 0, 0, 0.5);
}

.flowers{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}
.flower1{
    flex-basis: 24%;
    text-align: center;
}
.flower1 img{
    width: 100%;
    
}
.flower1 h3{
    margin-top: 25px;
    font-weight: 500;

}
.flower1 h4{
    margin-top: 20px;
}
.flower1 button{
    width: 100%;
    margin-top: 50px;
    padding: 19px;
    color: white;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
}



/* flower_plant_section */

.flower_plant_section{
    max-width: 100%;
    margin-top: 220px;
    display: flex;
    gap: 50px;
}
.flower_plant_section_img{
    flex-basis: 48%;
}
.flower_plant_section_content{
    flex-basis: 48%;
}
.flower_plant_section_content h5{
    font-size: 50px;
    font-weight: bold;
}

.flower_plant_section_content ul li{
    color: #8987A1;
    margin: 20px;
    font-size: 22px;
}
.flower_plant_section_img img{
    width: 100%;
    height: auto;
}